.logo__icon {
  margin: 0 4px;
  fill: $brand-color;
  width: 14px;
  height: 19px;
}

@media screen and (min-width: $tablet) {
  .logo__icon {
    width: 22px;
    height: 30px;
  }
}

.logo__text {
  display: flex;
  align-items: center;
  font-weight: 800;
  font-size: 14px;
  line-height: 1.23;
  letter-spacing: 0.04em;

  &--menu {
    color: $white;
  }
}

@media screen and (min-width: $tablet) {
  .logo__text {
    font-size: 26px;
  }
}

.logo__small {
  font-weight: 700;
  font-size: 5px;
  line-height: 1.25;
  text-transform: uppercase;

  &--menu {
    color: $white;
    letter-spacing: 0.08em;
  }
}

@media screen and (min-width: $tablet) {
  .logo__small {
    font-size: 8px;
  }
}

@media screen and (min-width: $tablet) {
  .logo__small--accent {
    color: $brand-color;
  }
}
